
<% if user_signed_in? %>
  <div id="my_content"></div>

<% else %>

<div class="jumbotron">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Welcome!</h2>
          <p>Login or register to get started.</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg top-buffer' %>
            <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg top-buffer' %>
          </div>
        </div>
      </div>
  </div>
</div>

<% end %>