<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
    </div>
  </div>
  <div class="container">
    <h2>Your accounts</h2>
  </div>
<% end %>